[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11"

[packages]
flask = "*"
jinja2 = "*"
requests = "*"
python-dateutil = "*"
pillow = "*"
configparser = "*"
markdown = "*"
python-markdown-math = "*"
pydantic = "*"
flask-testing = "*"
beautifulsoup4 = "*"
html2text = "*"
unicode = "*"
python-slugify = "*"
pytest = "*"
pyyaml = "*"
flask-wtf = "*"
gunicorn = "*"

[dev-packages]
