* {
  box-sizing: border-box;
}

body {
  font: 16px 'Fira Mono', monospace;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #1c4b3c;
  border-radius: 4px;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 250px;
  overflow-y: auto;
  background-color: #323536;
  margin-top: 2px;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #1c4b3c;
  color: #cee5c2;
}

.autocomplete-items div:hover {
  background-color: #3a3d3f;
}

.autocomplete-active {
  background-color: #33a37e !important;
  color: #ffffff;
}