.blog{
  background: #EEEEEC;
}

/* add-entry */

.add-entry{
  padding-top: 10px;
}

.add-entry-form{
  background-color: #EEEEEC;
  border: solid 3px black;
  padding: 10px;
  margin: 10px;
  margin-right: 20%;
  margin-left: 20%;
}

/* Message Flashing */
.flash {
    background: #cee5F5;
    padding: 0.5em;
    border: 1px solid #aacbe2;
}

/* Media Spacing */

div.media{
    width: 100%;
    padding: 10px;
    align-content: center;
}

img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 20px solid #F3F3F3;
    border-radius: 3px;
    max-width: 100%;
    max-height: 100%;
    image-orientation: from-image;
}

/* Entry spacing */
.entries{
  padding: 20px;
  padding-bottom: 50px;
  list-style-type: none;
}

.entry{
    max-height: 100%;
}

div.categories{
    float: left;
    width: 60%
}

div.date-stamp{
    float:right;
    text-align: right;
    width: 30%;
}

.p-author{
    float: left;
}

.entry-heading .u-url{
    float: right;
}

.entry-list-item{
    background: white;
    border: 2px solid #003300;
    box-shadow: 0 0 3pt 0.5pt black;
    border-radius: 5px;
    margin-left: 20%;
    margin-right: 20%;
    min-width: 500px;
    margin-bottom: 50px;

}


/* a */
.entry-footer{
    margin-bottom: 20px;
    width: 100%;
}