/*------------*/
/* EVERYTHING */
/*------------*/

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.clearfix:after { /* clearfix */
  content: "";
  display: table;
  clear: both;
}

div.media{
    width: 100%;
    align-content: center;
}

img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div.categories{
    float: left;
    width: 60%
}

div.date-stamp{
    float:right;
    text-align: right;
    width: 30%;
}

.p-author{
    float: left;
}

.entry-heading .u-url{
    float: right;
}

.entry-list-item{
    border-bottom: 2px solid #ccc;
}

.entry-footer{
    margin-bottom: 20px;
    width: 100%;
}