body { 
  background: url(img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* THE CONTENT SPACING */

.spacer {
    /*background: #EEEEEC;*/
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    margin-bottom: 116px;
}
