body {
	font-family: sans-serif;
	/*background: #eee;*/
    /*background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url(img/background.jpg) no-repeat fixed 50%;*/
    background: url(img/background.jpg) no-repeat fixed 50%;
	background-size: cover; /*updates the image to be cover size and re-crops to match aspect ratio*/
}

.top{
    width: 100%;
    min-height: 20%;
    max-height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    /*display: block;*/
    margin-bottom: 10px;
}

.spacer-nav{
    background: grey;
    height: 75px;
}

.spacer{
    height: 200px;
}

.nav-bar{
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 20%;
    z-index: 999;
    height: 70px;
}

.nav-bar h1{
    float: left;
    margin-left: 10px;
}

.top a,
.top p{
    color: white;
    text-decoration: none;
    position: inherit;
    margin-bottom: 10px;
}

.nav-bar h2{
    float: right;
    margin-right: 10px;
}   

.nav{
    background-color: grey;
    text-align: center;
    padding-bottom: 10px;
    /*padding-top: 20%;*/
    position: static;
}

.nav p{
    margin-bottom: 10px;
}

.entry-list-item{
    background: white;
    margin: 10px;
    margin-left:20%;
    margin-right: 20%;
}

.blog{
    margin-top: 10%;
}