/*------------*/
/* EVERYTHING */
/*------------*/

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.clearfix:after { /* clearfix */
  content: "";
  display: table;
  clear: both;
}

/* blog structure */



/* Entries */

.nav-bar{
    min-width: 200px;
    background-color: black;
    position: fixed;
    width: 100%;
    margin-bottom: 20%;
    z-index: 999;
    height: 70px;
    box-shadow: 0 0 3pt 0.5pt #BA9C5E; 
}


.nav-bar h1{
    float: left;
    margin-left: 10px;
    vertical-align: center;
}


.nav-bar a,
.nav-bar p{
    color: white;
    text-decoration: none;
    position: inherit;
    margin-bottom: 10px;
}


.nav-bar h2{
    float: right;
    margin-right: 10px;
    vertical-align: center;
}

i{
    color: white;
}