<link rel=stylesheet type=text/css href="{{ url_for('static', filename='add.css') }}"> <!-- blog roll styling -->

{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}

<div class="input">
    <form enctype="multipart/form-data" action="/add" method="post" class="input-large" id="input">
    Title:<br>
    <input type="text" name="name">
    <br>
    Reply-to:<br>
    <input type="text" name="reply-to">
    <br>
    Tags:<br>
    <input type="text" name="category">
    <br>
    Summary:<br>
    <input type="text" name="summary">
    <br>
    <textarea cols="50" rows="5" name="content" form_id="input">note</textarea>
    <br>
    <textarea cols="50" rows="5" name="social_content" form_id="">tweet preview</textarea>
    <br>
    <input type="checkbox" name="tumblr" value="tumblr">tumblr
    <br>
    <input type="checkbox" name="instagram" value="instagram">instagram
    <br>
    <input type="checkbox" name="twitter" value="twitter">twitter
    <br>
    <br>
    Photo:<br>
    <input type="file" name="photo" accept="image/*">
    <br>
    Video:<br>
    <input type="file" name="video" accept="image/*">
    <br>
    Audio:<br>
    <input type="file" name="audio" accept="image/*">
    <br>
    Geo:<br>
    <textarea type="text" name="location" id="geo_coord" cols="50"></textarea>
    <br>
    <input type="submit" value="Submit">
    </form>
    <button onclick="getLocation()">Add Location</button>
</div>

<script>
    var x = document.getElementById("geo_coord");
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        x.innerHTML = "geo:" + position.coords.latitude +
        "," + position.coords.longitude;
    }
</script>
{% else %}

<p>You need to be logged in, buck-eye</p>
{% endif %}
{% endblock %}