{% extends "stream_base.html" %}
{% block body %}
{% if session.logged_in %}
<div class="add-entry">
    <form action="/add" method=post class="add-entry-form" id="add-entry-form">
        <dl>
            <dt>Title:
            <dd><input type=text style="width: 100%" name=title>
            <dt>Text:
            <dd><textarea name=text rows=5 style="width: 100%"></textarea>
            <dd><input type="checkbox" name="twitter" value="twitter" checked>Tweet it. <br>
            <dd><input type="submit" onclick="document.getElementById('add-entry-form').submit();" value="Share"> <input type="button" onclick="location.href = '/add';" value="Large Form" onclick="/">
        </dl>
    </form>
</div>
<hr>
{% endif %}
{% for entry in entries %}
<!-- START ENTRIES -->
<div class="post-preview hentry h-entry">
    {% if session.logged_in %}
    <a href="/edit{{entry.url}}"><i class="fa fa-pencil-square-o pull-right"></i></a>
    {% endif %}
    {% if entry.title != 'None' %}
    <h2 class="post-title p-name">
        <a href="/e{{entry.url}}">{{ entry.title }}</a>
    </h2>
    {% endif %}

    {% if entry.in_reply_to != 'None' and entry.in_reply_to is string %}
    <h3 class="post-subtitle u-in-reply-to">
        {{entry.in_reply_to}}
    </h3>
    {% endif%}

    {% if entry.in_reply_to is sequence %}
    {% for site in entry.in_reply_to %}
    {% if site.photo is defined %}
    <a href="/e{{site.url}}">
        <img
                class="u-photo img-responsive center-block img-thumbnail img-rounded"
                style="image-orientation: from-image; max-height:300px"
                src="/{{site.photo}}"
                >
    </a>
    {% else %}
    {% endif %}
    {% endfor %}
    {% endif %}
    <div class="e-content">
        {% if entry.photo is defined %}
        <img class="u-photo img-responsive center-block img-thumbnail img-rounded"
             style="image-orientation: from-image; max-height:500px"
             src="/{{entry.photo}}">
        {% endif %}
        {% if entry.summary != 'None' %}
        <h3 class="post-subtitle p-summary">
            {{entry.summary}}
        </h3>
        {% endif%}
        <p class="e-content">{{entry.content | safe}}</p>
        <div class="entry-footer clearfix">                         <!-- Footer -->
            <div class="categories">                                <!-- Catagories -->
                <i class="fa fa-tags"></i>
                {% for c in entry.category %}
                {% if c != None and c != 'None' %}
                <a class="category" href="/t/{{c}}">{{c}}</a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            Posted by on
            <a href="/e{{entry.url}}"><time class="dt-published">{{entry.published}}</time></a>
            {% if entry.location != 'None' %} <!-- If there's a location -->
            in
            <a class="p-location"> {{entry.location | safe }} </a>
            {% endif %}

        </div> <!-- END POST DETAILS -->

        <div class="text-right col-md-3">
            {% if entry.in_reply_to != 'None' %}
            <span>{{entry.in_reply_to | length}}</span>
            <i class="fa fa-reply"></i>
            {% endif %}
            <span data-webmention-count data-url="http://kongaloosh.com/e{{entry.url}}"></span>
            <i class="fa fa-comments"></i>
            <a href="/e{{entry.url}}"><i class="fa fa-link"></i></a>
        </div> <!-- END PERMALINK -->
    </div> <!-- END AUTHORSHIP -->

    {% if entry.twitter %}
    <div class="row">
        <div class="actions col-md-9 pull-left">
            <indie-action do="like" with="http://kongaloosh.com/e{{entry.url}}">
                <a target="" href="https://twitter.com/intent/favorite?tweet_id={{entry.twitter.id}}">
                    <i class="fa fa-star"></i>
                    Like
                </a>
            </indie-action>
            <indie-action do="repost" with="http://kongaloosh.com/e{{entry.url}}">
                <a target="" href="https://twitter.com/intent/retweet?tweet_id={{entry.twitter.id}}">
                    <i class="fa fa-retweet"></i>
                    Repost
                </a>
            </indie-action>
            <indie-action do="reply" with="http://kongaloosh.com/e{{entry.url}}">
                <a target="" href="https://twitter.com/intent/tweet?in_reply_to={{entry.twitter.id}}">
                    <i class="fa fa-reply"></i>
                    Reply
                </a>
            </indie-action>
        </div> <!-- END ACTIONS -->

        <div class="actions col-md-3 text-right">
            <a href="{{entry.twitter.link}}">
                On Twitter
                <i class="fa fa-twitter"></i>
            </a>
        </div> <!-- END TWITTER LINK -->
    </div><!-- END TWITTER SYNDICATION -->
    {% endif %}
</div>
<hr>
{% else %}
<p>No entries here so far </p> <!-- When we have nothing left -->
{% endfor %}
{% endblock %}

