{% extends "stream_base.html" %}
{% block body %}
    {% if session.logged_in %}
    <div class="add-entry">
        <form action="/add" method=post class="add-entry-form">
            <dl>
                <dt>Title:
                <dd><input type=text size=30 name=title>
                <dt>Text:
                <dd><textarea name=text rows=5 cols=40></textarea>
                <dd><input type="checkbox" name="twitter" value="twitter" checked>Tweet it. <br>
                <dd><input type="submit" value="Share"> <input type="button" onclick="location.href = '/add';" value="Large Form" onclick="/">
            </dl>
        </form>

    </div>
    {% endif %}
    {% for entry in entries %}
    <!-- START ENTRIES -->
    <div class="post-preview hentry h-entry">
        {% if entry.title != 'None' %}
        <h2 class="post-title p-name">
            <a href="/e{{entry.url}}">{{ entry.title }}</a>
        </h2>
        {% endif %}
        {% if entry.photo is defined %}
        <img class="u-photo img-responsive center-block img-thumbnail img-rounded"
             style="image-orientation: from-image; max-height:300px"
             src="/{{entry.photo}}">
        {% endif %}
        {% if entry.summary != 'None' %}
        <h3 class="post-subtitle p-summary">
            {{entry.summary}}
        </h3>
        {% endif%}
        <p class="e-content">{{entry.content | safe}}</p>
        <div class="entry-footer clearfix">                         <!-- Footer -->
            <div class="categories">                                <!-- Catagories -->
                {% for c in entry.category %}
                {% if c != None and c != 'None' %}
                <a class="category" href="/t/{{c}}">{{c}}</a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row post-meta">
            <p class="authorship col-md-9">
                Posted by
                <a rel="author" class="p-author h-card" href="http://alexkearney.com/">Alex Kearney</a>
                on
                <time class="dt-published">{{entry.published}}</time>
                {% if entry.location != 'None' %} <!-- If there's a location -->
                at
                <a class="p-location"> {{entry.location | safe }} </a>
                {% endif %}
            </p>
            <p><a class="u-url u-uid pull-right col-md-3" href="/e{{entry.url}}"><i class="fa fa-link"></i></a></p>
        </div>
    </div>
    <hr>
{% else %}
<p>No entries here so far </p> <!-- When we have nothing left -->
{% endfor %}
{% endblock %}