{% extends "layout.html" %}
{%block content%}
<link href="{{ url_for('static', filename='entry.css') }}" rel="stylesheet">


<header class="intro-header"
        style="background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3)), url('{{ url_for('static', filename='img/home-bg.jpg') }}') no-repeat fixed 50%;
        background-size:cover;
">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-heading">
                <h1>Hi</h1>
                <hr class="small">
                <span class="subheading"><i class="fa fa-paper-plane"></i></span>
            </div>
        </div>
    </div>
</header>

{% if mentions %}
<link href="{{ url_for('static', filename='mentions.css') }}" rel="stylesheet">
{% endif %}

{% if reply_to %}
<link href="{{ url_for('static', filename='reply-to.css') }}" rel="stylesheet">
{% endif %}

<article>
    <div class="row">
        {% if reply_to %}
        <div class="reply-topper row col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 align-center"> <!-- REPLY DECORATOR END -->
            <div class="text-center">
                <h3><i class="fa fa-share"></i></h3>
                <strong>In response to</strong>
                <hr class="small" style="border-color:grey;">
            </div>
        </div> <!-- REPLY DECORATOR END -->
        {% endif %}

        {% for reply in reply_to %}
        <div class="row col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 reply"> <!-- REPLY -->
            {% if reply.content %}
            <div class="reply-header text-center">
                {{reply.content | safe}}
            </div>

            <div class="reply-footer">
                <p>Published <a class="" rel="u-in-reply-to in-reply-to"  href="{{reply.url}}">{{reply.published}}</a> by {{reply.author}}</p>
            </div>
            {% else %}
            <a class="" rel="u-in-reply-to in-reply-to" href="{{reply.url}}">{{reply.url}}</a>
            {% endif %}
            <hr>
        </div> <!-- REPLY END -->
        {% endfor %}


        <a href="https://brid.gy/publish/facebook"></a>
        <a href="https://brid.gy/publish/instagram"></a>
        <a href="https://brid.gy/publish/twitter"></a>
        <a href="https://brid.gy/publish/flickr"></a>
        <div class="hentry h-entry col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% if session.logged_in %}
            <a href="/edit{{entry.url}}"><i class="fa fa-pencil-square-o pull-right"></i></a>
            {% endif %}
            {% if entry.in_reply_to is sequence %}
            {% for site in entry.in_reply_to %}
            {% if site.photo is defined %}
            <a href="/e{{site.url}}">
                <img
                        class="u-photo img-responsive center-block img-thumbnail img-rounded"
                        style="image-orientation: from-image; max-height:300px"
                        src="/{{site.photo}}"
                        >
            </a>
            {% endif %}
            {% endfor %}
            {% endif %}
            <div class="e-content p-note">
                {% if entry.photo is defined %}
                <img class="u-photo img-responsive center-block img-thumbnail img-rounded"
                     style="image-orientation: from-image; max-height:600px"
                     src="/{{entry.photo}}">
                {% endif %}
                {{entry.content | safe}}</div>
            <div class="entry-footer clearfix">                         <!-- Footer -->
            <hr>
            <div class="row post-meta">
                <div class="col-md-6 pull-left">
                    Posted by on
                    <a href="/e{{entry.url}}"><time class="dt-published">{{entry.published}}</time></a>
                    <!--{% if entry.location != 'None' %} &lt;!&ndash; If there's a location &ndash;&gt;-->
                    <!--in-->
                    <!--<a class="p-location"> {{entry.location | safe }} </a>-->
                    <!--{% endif %}-->
                    by
                    <a rel="author" class="p-author h-card" href="http://kongaloosh.com">Alex Kearney</a>
                </div> <!-- END POST DETAILS -->
                <div class="col-md-6 pull-right text-right">
                        <i class="fa fa-tags"></i>
                        {% for c in entry.category %}
                        {% if c != None and c != 'None' %}
                        <a class="p-category" href="/t/{{c}}">{{c}}</a>
                        {% endif %}
                        {% endfor %}
                        <a class="u-url" href="/e{{entry.url}}"></a>
                </div> <!-- END PERMALINK -->
            </div> <!-- END AUTHORSHIP -->
            <div class="row">
                {% if entry.twitter %}
                <div class="actions col-md-8 pull-left">
                    <indie-action do="like" with="http://kongaloosh.com/e{{entry.url}}">
                        <a target="" href="https://twitter.com/intent/favorite?tweet_id={{entry.twitter.id}}">
                            <i class="fa fa-star"></i>
                            Like
                        </a>
                    </indie-action>
                    <indie-action do="repost" with="http://kongaloosh.com/e{{entry.url}}">
                        <a target="" href="https://twitter.com/intent/retweet?tweet_id={{entry.twitter.id}}">
                            <i class="fa fa-retweet"></i>
                            Repost
                        </a>
                    </indie-action>
                    <indie-action do="reply" with="http://kongaloosh.com/e{{entry.url}}">
                        <a target="" href="https://twitter.com/intent/tweet?in_reply_to={{entry.twitter.id}}">
                            <i class="fa fa-reply"></i>
                            Reply
                        </a>
                    </indie-action>
                </div> <!-- END ACTIONS -->
                {% endif %}
                <div class="actions col-md-4 pull-right text-right">
                    {% if entry.twitter %}
                    <a rel="syndication" class="u-syndication" href="{{entry.twitter.link}}">
                        On Twitter
                        <i class="fa fa-twitter"></i>
                    </a>
                    {% endif %}
                    {% if entry.facebook %}
                    <a rel="syndication" class="u-syndication" href="{{entry.facebook.link}}">
                        On facebook
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    {% endif %}
                </div> <!-- END TWITTER LINK -->
            </div><!-- END TWITTER SYNDICATION -->
            </div><!-- END ENTRY DETAILS -->
        </div>

        <!-- BEGIN MENTIONS -->
        {% if mentions %}
        <div class="mention-topper row col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 align-center">
            <div class="text-center">
                <h3><i class="fa fa-comments"></i></h3>
                <strong>Mentioned elsewhere on the indieweb</strong>
                <hr class="small" style="border-color:grey;">
            </div>
        </div> <!-- END TOPPER -->
        {% endif %}

        {% for mention in mentions %}
        <div class="row col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 mention">
            <!--<div class="mention-header">-->
            <!--{% if mention.name != mention.content %}-->
            <!--{{mention.name}}-->
            <!--{% endif %}-->
            <!--</div>-->
            {% if mention.photo %}
            <img class="img-responsive center-block img-thumbnail img-rounded"
                 style="image-orientation: from-image; width:30%; height:30%"
                 src="{{mention.photo}}">
            {% endif %}

            <p>{{ mention.content | safe | striptags }}</p>

            <div class="mentions-footer">
                <div class="mention">
                    <p>
                        {% if mention.author.photo %}
                        <img src="{{mention.author.photo}}" class="img-circle" style="width:50px;height:50px">
                        {% endif %}
                        Posted by
                        <a href="{{mention.url}}">{{mention.author.name}}</a>
                    </p>
                </div>
            </div>
            <hr>
        </div>
        {% endfor %} <!-- END MENTION ROLL -->
    </div> <!-- END MENTIONS -->
</article>
{% endblock %}
