{% extends "layout.html" %}
{%block content%}
<header class="intro-header"
        style="background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3)), url('{{ url_for('static', filename='img/home-bg.jpg') }}') no-repeat fixed 50%;
        background-size:cover;
">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Hi</h1>
                    <hr class="small">
                    <span class="subheading"><i class="fa fa-paper-plane"></i></span>
                </div>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 hentry">
                {% if session.logged_in %}
                <a href="/edit{{entry.url}}"><i class="fa fa-pencil-square-o pull-right"></i></a>
                {% endif %}
                {% if entry.in_reply_to is sequence %}
                {% for site in entry.in_reply_to %}
                {% if site.photo is defined %}
                <a href="/e{{site.url}}">
                    <img
                            class="u-photo img-responsive center-block img-thumbnail img-rounded"
                            style="image-orientation: from-image; max-height:300px"
                            src="/{{site.photo}}"
                            >
                </a>
                {% else %}
                {% endif %}
                {% endfor %}
                {% endif %}
                {% if entry.photo is defined %}
                <img class="u-photo img-responsive center-block img-thumbnail img-rounded"
                     style="image-orientation: from-image; max-height:300px"
                     src="/{{entry.photo}}">
                {% endif %}
                <p class="e-content">{{entry.content | safe}}</p>
                <div class="entry-footer clearfix">                         <!-- Footer -->
                    <div class="categories">                                <!-- Catagories -->
                        <i class="fa fa-tags"></i>
                        {% for c in entry.category %}
                        {% if c != None and c != 'None' %}
                        <a class="category" href="/t/{{c}}">{{c}}</a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="row post-meta">
                    <p class="authorship col-md-9">
                        Posted by
                        <a rel="author" class="p-author h-card" href="http://alexkearney.com/">Alex Kearney</a>
                        on
                        <time class="dt-published">{{entry.published}}</time>
                        {% if entry.location != 'None' %} <!-- If there's a location -->
                        at
                        <a class="p-location"> {{entry.location | safe }} </a>
                        {% endif %}
                    </p>
                    <p><a class="u-url u-uid pull-right" href="/e{{entry.url}}"><i class="fa fa-link"></i></a></p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for mention in mentions %}
                {{mention.data}}
            {% endfor %}
        </div>
    </div>
</article>
{% endblock %}