<html>
  <head>
  	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <title>kongaloosh</title>
  </head>
  <body>
    <section class="authorship">
   		<A name="contact"></A>
        <h1>hang tight, chief</h1>
        <p> I'm experimenting; something may be broken. </p>
        <!-- <h2 class="section-header">Let's chat.</h2> -->

        <div class="social">
	        <a href="mailto:kearney@ualberta.ca" rel="me"><i class="fa fa-envelope"></i></a>
	        <a href="http://alexkearney.com/" rel="me"><i class="fa fa-laptop"></i></a>
	        <a href="https://twitter.com/AlexKKearney" title="Twitter" rel="me"><i class="fa fa-twitter"></i></a>
	        <a href="https://ca.linkedin.com/pub/alexandra-kearney/52/22/591" title="LinkedIn" rel="me"><i class="fa fa-linkedin"></i></a>
	                <!--<a href="#" title="Instagram"><i class="fa fa-instagram"></i></a>-->
	        <a href="https://github.com/Kongaloosh" title="Github" rel="me"><i class="fa fa-github-alt"></i></a>
	                <!--<a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>-->
	        <a href="https://plus.google.com/+AlexandraKearney/" title="Google+" rel="me"><i class="fa fa-google-plus"></i></a>
        </div>

        <p><a href="mailto:hello@your-email.com">kearney@ualberta.ca</a></p>
            <!--<p>416.123.4567</p>-->
        <p>
        	Edinburgh, Scotland <br>
            or <br>
            Edmonton, Alberta, Canada
        </p>
    </section>
    {% block content %}
    {% endblock %}
  </body>
</html>
