{% extends "layout.html" %}

{% block cover %}
    {% if session.logged_in %}
    <a href="/logout">logout</a>
    {% endif %}
    <div class="top"></div>
    <div class="spacer"></div>
{% endblock %}


{% block body %}
    {% if session.logged_in %}
    <form action="/add" method=post class=add-entry>
        <dl>
            <dt>Title:
            <dd><input type=text size=30 name=title>
            <dt>Text:
            <dd><textarea name=text rows=5 cols=40></textarea>
            <dd><input type="checkbox" name="twitter" value="twitter" checked>Tweet it. <br>
            <dd><input type=submit value=Share> <input type="button" onclick="/">
        </dl>
    </form>
    {% endif %}
    {% block blog %}
        <!-- Blog entries go here -->
    {% endblock %}
    </div>
{% endblock %}