{% extends "layout.html" %}
{% block body %}
    {% if session.logged_in %}
        <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
            <dl>
                <dt>Title:
                <dd><input type=text size=30 name=title>
                <dt>Text:
                <dd><textarea name=text rows=5 cols=40></textarea>
                <dd><input type="radio" name="entry_type" value="note" checked>Note <br>
                <dd><input type="radio" name="entry_type" value="article">Article<br>
                <dd><input type="radio" name="entry_type" value="photo">Photo<br>
                <dd><input type=submit value=Share>
            </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li>
      <article class="hentry h-entry {{entry.category}}">
          <a rel="author" class="p-author h-card" href="http://alexkearney.com/">Alex Kearney</a>
          {% if entry.type == 'article' %}
            <h2 class="p-name"><a href="/{{entry.url}}">{{ entry.title }}</a></h2>
          {% else %}
            <a href="/{{entry.url}}"><i class="fa fa-link"></i></a>
          {% endif %}

          {% if entry.photo is defined %}
            <img class="u-photo" src="/{{entry.photo}}"width="500px" height="500px">
          {% endif %}

          <p>{{entry.summary}}</p>

          <p>{{entry.content}}</p>

          <div class="entry-footer">

              {% if entry.category is defined %}
                <p class="p-category">{{entry.category}}</p>
              {% endif %}

              <time>{{entry.published}}</time>

              <!-- we use an if to prevent commas and such from showing if undefined -->
              {% if entry.location_name is defined %}
                <p class="p-location">{{entry.location_name}}:{{entry.lat}},{{entry.long}}</p>
              {% endif %}

          </div>
      </article>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</egitm>
  {% endfor %}
  </ul>
{% endblock %}