{% extends "layout.html"%}
{% block content %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header"
        style="background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3)), url('{{ url_for('static', filename='img/home-bg.jpg') }}') no-repeat fixed 50%;
        background-size:cover;
">
<link rel="apple-touch-icon" sizes="57x57" href="img/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="img/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="img/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
<link rel="manifest" href="img/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

    <div class="container">
        <div class="">
            <div class="row site-heading jumbotron" style="display: block;">

                <div class="col-lg-4 col-md-4  col-sm-12 col-xs-12 profile-image-holder">
                        <img style="max-height:200px" src="{{ url_for('static', filename='img/profile.jpg') }}"
                         class="img-responsive img-thumbnail img-circle profile-image">
                </div>

                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 intro-text">
                    <p>
                            I'm <a href="http://alexkearney.com" class="tag">Alex Kearney</a>, a Master's student studying Computer
                        Science at the <a href="http://ualberta.ca" class="tag">University of Alberta</a>. I focus on Artificial
                        Intelligence and prosthetics.
                    </p>
                    <p>
                        When I'm not playing with robots, I hang out with the indieweb community, drink tea, and
                        scubadive.
                    </p>
                    {% if popular_tags %}
                    <p class="clearfix">
                        I talk a lot about {% for tag in popular_tags%} <a href="/t/{{tag}}" class="tag" >{{tag}}</a> {% if not loop.last %} , {% endif %} {%if loop.index == loop.length-1%} and {%endif%} {%endfor%}
                    </p>
                    {%endif%}
                </div>

            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div>
        {% block body %}
        {% endblock %}
        <!-- Pager -->
        <ul class="pager">
            <li class="next">
                <a href="/page/{{before}}">Older Posts &rarr;</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
