<?xml version="1.0" encoding="UTF-8"?>
<feed xml:lang="en-US"
      xmlns="http://www.w3.org/2005/Atom"
      xmlns:activity="http://activitystrea.ms/spec/1.0/"
      xmlns:georss="http://www.georss.org/georss"
      xmlns:ostatus="http://ostatus.org/schema/1.0"
      xmlns:thr="http://purl.org/syndication/thread/1.0"
      xml:base="https://kongaloosh.com/">
<generator uri="https://granary.io/">granary</generator>
<id>https://kongaloosh.com/</id>
<title>User feed for Unknown</title>


<updated>2018-08-12T17:58:29-06:00</updated>
<author>
 <activity:object-type>http://activitystrea.ms/schema/1.0/person</activity:object-type>
 <uri>
</uri>


</author>

<link rel="alternate" href="https://kongaloosh.com/" type="text/html" />


<link rel="self" href="https://granary.io/url?url=https://kongaloosh.com/&amp;input=html&amp;output=atom&amp;hub=http://kgl.superfeedr.com/" type="application/atom+xml" />

<link rel="hub" href="http://kgl.superfeedr.com/" />



<entry>


<author>
 <activity:object-type>http://activitystrea.ms/schema/1.0/person</activity:object-type>
 <uri>
</uri>


</author>


    <activity:object-type>http://activitystrea.ms/schema/1.0/note</activity:object-type>



  <id>
</id>
  <title> </title>

  <content type="xhtml">
  <div xmlns="http://www.w3.org/1999/xhtml">




<a href="/e/2018/8/12/one-of-my-favorite-parts-of-edmfolkfest-is-the-ckuaradio-tent-with-their-live-broadcasts">
        <img class="u-photo img-responsive center-block img-thumbnail img-rounded" src="/data/2018/8/12/one-of-my-favorite-parts-of-edmfolkfest-is-the-ckuaradio-tent-with-their-live-broadcasts.jpg" style="image-orientation: from-image; max-height:500px"/>
        </a>


        <p class="row e-content">
</p>
<p>One of my favorite parts of @edmfolkfest is the @ckuaradio tent with their live broadcasts. Had a chance to listen to @shakeygraves perform some songs acoustic and talk about songwriting. Dozens of people were huddled in the rain and mud to listen to Alberta public radio!  <a href="/t/publicradio"> #publicradio </a>   <a href="/t/livemusic"> #livemusic </a>   <a href="/t/indie"> #indie </a> </p>
<p>
</p>

        <div class="entry-footer clearfix">                         <!-- Footer -->
            <div class="categories">                                <!-- Catagories -->

                    <i class="fa fa-tags">
</i>

                    <a class="category" href="/t/publicradio">publicradio</a>

                    <a class="category" href="/t/image">image</a>

                    <a class="category" href="/t/efmf2018">efmf2018</a>

                    <a class="category" href="/t/efmf">efmf</a>

                    <a class="category" href="/t/folk">folk</a>


            </div>
        </div>
<p>
</p>

  </div>
  </content>

  <link rel="alternate" type="text/html" href="" />
  <link rel="ostatus:conversation" href="" />


    <activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>


  <published>2018-08-12T17:58:29-06:00</published>
  <updated>2018-08-12T17:58:29-06:00</updated>





  <link rel="self" type="application/atom+xml" href="" />


</entry>

<entry>


<author>
 <activity:object-type>http://activitystrea.ms/schema/1.0/person</activity:object-type>
 <uri>
</uri>


</author>


    <activity:object-type>http://activitystrea.ms/schema/1.0/note</activity:object-type>



  <id>
</id>
  <title> </title>

  <content type="xhtml">
  <div xmlns="http://www.w3.org/1999/xhtml">




<a href="/e/2018/8/12/trying-to-keep-dry-on-the-last-day-of-folk-fest">
        <img class="u-photo img-responsive center-block img-thumbnail img-rounded" src="/data/2018/8/12/trying-to-keep-dry-on-the-last-day-of-folk-fest.jpg" style="image-orientation: from-image; max-height:500px"/>
        </a>


        <p class="row e-content">
</p>
<p>Trying to keep dry on the last day of folk fest. Trying.</p>
<p>
</p>

        <div class="entry-footer clearfix">                         <!-- Footer -->
            <div class="categories">                                <!-- Catagories -->

                    <i class="fa fa-tags">
</i>

                    <a class="category" href="/t/image">image</a>

                    <a class="category" href="/t/efmf2018">efmf2018</a>

                    <a class="category" href="/t/efmf">efmf</a>

                    <a class="category" href="/t/folk">folk</a>

                    <a class="category" href="/t/music">music</a>


            </div>
        </div>
<p>
</p>

  </div>
  </content>

  <link rel="alternate" type="text/html" href="" />
  <link rel="ostatus:conversation" href="" />


    <activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>


  <published>2018-08-12T13:19:09-06:00</published>
  <updated>2018-08-12T13:19:09-06:00</updated>





  <link rel="self" type="application/atom+xml" href="" />


</entry>

<entry>


<author>
 <activity:object-type>http://activitystrea.ms/schema/1.0/person</activity:object-type>
 <uri>
</uri>


</author>


    <activity:object-type>http://activitystrea.ms/schema/1.0/note</activity:object-type>



  <id>
</id>
  <title> </title>

  <content type="xhtml">
  <div xmlns="http://www.w3.org/1999/xhtml">




<a href="/e/2018/8/11/one-tarp-up-and-one-tarp-to-the-right-of-the-golden-tarp">
        <img class="u-photo img-responsive center-block img-thumbnail img-rounded" src="/data/2018/8/11/one-tarp-up-and-one-tarp-to-the-right-of-the-golden-tarp.jpg" style="image-orientation: from-image; max-height:500px"/>
        </a>


        <p class="row e-content">
</p>
<p>One tarp up and one tarp to the right of the golden tarp!</p>
<p>
</p>

        <div class="entry-footer clearfix">                         <!-- Footer -->
            <div class="categories">                                <!-- Catagories -->

                    <i class="fa fa-tags">
</i>

                    <a class="category" href="/t/image">image</a>

                    <a class="category" href="/t/efmf2018">efmf2018</a>

                    <a class="category" href="/t/efmf">efmf</a>

                    <a class="category" href="/t/folk">folk</a>

                    <a class="category" href="/t/music">music</a>


            </div>
        </div>
<p>
</p>

  </div>
  </content>

  <link rel="alternate" type="text/html" href="" />
  <link rel="ostatus:conversation" href="" />


    <activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>


  <published>2018-08-11T09:11:10-06:00</published>
  <updated>2018-08-11T09:11:10-06:00</updated>





  <link rel="self" type="application/atom+xml" href="" />


</entry>

<entry>


<author>
 <activity:object-type>http://activitystrea.ms/schema/1.0/person</activity:object-type>
 <uri>
</uri>


</author>


    <activity:object-type>http://activitystrea.ms/schema/1.0/note</activity:object-type>



  <id>
</id>
  <title> </title>

  <content type="xhtml">
  <div xmlns="http://www.w3.org/1999/xhtml">




<a href="/e/2018/8/5/recovering-from-dlrl-summer-school-by-scrambling-for-tarp-space-at-the-canmore-folk-fest">
        <img class="u-photo img-responsive center-block img-thumbnail img-rounded" src="/data/2018/8/5/recovering-from-dlrl-summer-school-by-scrambling-for-tarp-space-at-the-canmore-folk-fest.jpg" style="image-orientation: from-image; max-height:500px"/>
        </a>


        <p class="row e-content">
</p>
<p>Recovering from DLRL summer school by scrambling for tarp space at the Canmore Folk Fest 🎻 🎶</p>
<p>
</p>

        <div class="entry-footer clearfix">                         <!-- Footer -->
            <div class="categories">                                <!-- Catagories -->

                    <i class="fa fa-tags">
</i>

                    <a class="category" href="/t/image">image</a>

                    <a class="category" href="/t/folk">folk</a>

                    <a class="category" href="/t/music">music</a>

                    <a class="category" href="/t/canmore">canmore</a>


            </div>
        </div>
<p>
</p>

  </div>
  </content>

  <link rel="alternate" type="text/html" href="" />
  <link rel="ostatus:conversation" href="" />


    <activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>


  <published>2018-08-05T09:56:06-06:00</published>
  <updated>2018-08-05T09:56:06-06:00</updated>





  <link rel="self" type="application/atom+xml" href="" />


</entry>

<entry>


<author>
 <activity:object-type>http://activitystrea.ms/schema/1.0/person</activity:object-type>
 <uri>
</uri>


</author>


    <activity:object-type>http://activitystrea.ms/schema/1.0/article</activity:object-type>



  <id>
</id>
  <title>Deep Learning Summer School &amp; Reinforcement Learning Summer School</title>

  <content type="xhtml">
  <div xmlns="http://www.w3.org/1999/xhtml">




<a href="/e/2018/8/1/deep-learning-summer-school-reinforcement-learning-summer-school">
        <img class="u-photo img-responsive center-block img-thumbnail img-rounded" src="/data/2018/8/1/deep-learning-summer-school-reinforcement-learning-summer-school.jpg" style="image-orientation: from-image; max-height:500px"/>
        </a>


        <div class="post-subtitle p-summary">
                <p>
                <i>
                Sights from DLLS &amp; RLSS 2018 in Toronto.
                </i>
            </p>
        </div>

        <div class="entry-footer clearfix">                         <!-- Footer -->
            <div class="categories">                                <!-- Catagories -->

                    <i class="fa fa-tags">
</i>

                    <a class="category" href="/t/yyz">yyz</a>

                    <a class="category" href="/t/toronto">toronto</a>

                    <a class="category" href="/t/grad-school">grad-school</a>

                    <a class="category" href="/t/rl">rl</a>

                    <a class="category" href="/t/dl">dl</a>

                    <a class="category" href="/t/travel">travel</a>

                    <a class="category" href="/t/coffee">coffee</a>

                    <a class="category" href="/t/knitting">knitting</a>

                    <a class="category" href="/t/research">research</a>

                    <a class="category" href="/t/article">article</a>


            </div>
        </div>
<p>
</p>

  </div>
  </content>

  <link rel="alternate" type="text/html" href="" />
  <link rel="ostatus:conversation" href="" />


    <activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>


  <published>2018-08-01T00:00:00Z</published>
  <updated>2018-08-01T00:00:00Z</updated>





  <link rel="self" type="application/atom+xml" href="" />


</entry>

<entry>


<author>
 <activity:object-type>http://activitystrea.ms/schema/1.0/person</activity:object-type>
 <uri>
</uri>


</author>


    <activity:object-type>http://activitystrea.ms/schema/1.0/note</activity:object-type>



  <id>
</id>
  <title> </title>

  <content type="xhtml">
  <div xmlns="http://www.w3.org/1999/xhtml">




<a href="/e/2018/7/1/happy-canada-day">
        <img class="u-photo img-responsive center-block img-thumbnail img-rounded" src="/data/2018/7/1/happy-canada-day.jpg" style="image-orientation: from-image; max-height:500px"/>
        </a>


        <p class="row e-content">
</p>
<p>Happy Canada day 🇨🇦</p>
<p>
</p>

        <div class="entry-footer clearfix">                         <!-- Footer -->
            <div class="categories">                                <!-- Catagories -->

                    <i class="fa fa-tags">
</i>

                    <a class="category" href="/t/image">image</a>


            </div>
        </div>
<p>
</p>

  </div>
  </content>

  <link rel="alternate" type="text/html" href="" />
  <link rel="ostatus:conversation" href="" />


    <activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>


  <published>2018-07-01T23:41:41-06:00</published>
  <updated>2018-07-01T23:41:41-06:00</updated>





  <link rel="self" type="application/atom+xml" href="" />


</entry>

<entry>


<author>
 <activity:object-type>http://activitystrea.ms/schema/1.0/person</activity:object-type>
 <uri>
</uri>


</author>


    <activity:object-type>http://activitystrea.ms/schema/1.0/note</activity:object-type>



  <id>
</id>
  <title> </title>

  <content type="xhtml">
  <div xmlns="http://www.w3.org/1999/xhtml">




<a href="/e/2018/6/24/red-means-fast">
        <img class="u-photo img-responsive center-block img-thumbnail img-rounded" src="/data/2018/6/24/red-means-fast.jpg" style="image-orientation: from-image; max-height:500px"/>
        </a>


        <p class="row e-content">
</p>
<p>Red means fast</p>
<p>
</p>

        <div class="entry-footer clearfix">                         <!-- Footer -->
            <div class="categories">                                <!-- Catagories -->

                    <i class="fa fa-tags">
</i>

                    <a class="category" href="/t/image">image</a>


            </div>
        </div>
<p>
</p>

  </div>
  </content>

  <link rel="alternate" type="text/html" href="" />
  <link rel="ostatus:conversation" href="" />


    <activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>


  <published>2018-06-24T11:09:20-06:00</published>
  <updated>2018-06-24T11:09:20-06:00</updated>





  <link rel="self" type="application/atom+xml" href="" />


</entry>

<entry>


<author>
 <activity:object-type>http://activitystrea.ms/schema/1.0/person</activity:object-type>
 <uri>
</uri>


</author>


    <activity:object-type>http://activitystrea.ms/schema/1.0/note</activity:object-type>



  <id>
</id>
  <title>
</title>

  <content type="xhtml">
  <div xmlns="http://www.w3.org/1999/xhtml">




<a href="/e/2018/5/12/i-had-a-little-bit-of-time-to-kill-before-the-neuroscience-symposium-so-i-went-and-found-chocolate-yvc-phdlife-gradschool-travel">
        <img class="u-photo img-responsive center-block img-thumbnail img-rounded" src="/data/2018/5/12/i-had-a-little-bit-of-time-to-kill-before-the-neuroscience-symposium-so-i-went-and-found-chocolate-yvc-phdlife-gradschool-travel.jpg" style="image-orientation: from-image; max-height:500px"/>
        </a>


        <p class="row e-content">
</p>
<p>I had a little bit of time to kill before the neuroscience symposium, so I went and found chocolate 🍫
 <a href="/t/yvc"> #yvc </a>   <a href="/t/phdlife"> #phdlife </a>   <a href="/t/gradschool"> #gradschool </a>   <a href="/t/travel"> #travel </a> </p>
<p>
</p>

        <div class="entry-footer clearfix">                         <!-- Footer -->
            <div class="categories">                                <!-- Catagories -->

                    <i class="fa fa-tags">
</i>

                    <a class="category" href="/t/yvc">yvc</a>

                    <a class="category" href="/t/image">image</a>


            </div>
        </div>
<p>
</p>

  </div>
  </content>

  <link rel="alternate" type="text/html" href="" />
  <link rel="ostatus:conversation" href="" />


    <activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>


  <published>2018-05-12T21:53:51-07:00</published>
  <updated>2018-05-12T21:53:51-07:00</updated>





  <link rel="self" type="application/atom+xml" href="" />


</entry>

<entry>


<author>
 <activity:object-type>http://activitystrea.ms/schema/1.0/person</activity:object-type>
 <uri>
</uri>


</author>


    <activity:object-type>http://activitystrea.ms/schema/1.0/note</activity:object-type>



  <id>
</id>
  <title> </title>

  <content type="xhtml">
  <div xmlns="http://www.w3.org/1999/xhtml">




<a href="/e/2018/5/10/i-made-my-first-3d-print-today-now-i-have-an-adorable-gengar-desk-friend-3dprinting-tech-phdlife-pokemon">
        <img class="u-photo img-responsive center-block img-thumbnail img-rounded" src="/data/2018/5/10/i-made-my-first-3d-print-today-now-i-have-an-adorable-gengar-desk-friend-3dprinting-tech-phdlife-pokemon.jpg" style="image-orientation: from-image; max-height:500px"/>
        </a>


        <p class="row e-content">
</p>
<p>I made my first 3D print today!  Now I have an adorable Gengar desk friend 🔮
 <a href="/t/3dprinting"> #3dprinting </a>   <a href="/t/tech"> #tech </a>   <a href="/t/phdlife"> #phdlife </a>   <a href="/t/pokemon"> #pokemon </a> </p>
<p>
</p>

        <div class="entry-footer clearfix">                         <!-- Footer -->
            <div class="categories">                                <!-- Catagories -->

                    <i class="fa fa-tags">
</i>

                    <a class="category" href="/t/3dprinting">3dprinting</a>

                    <a class="category" href="/t/image">image</a>


            </div>
        </div>
<p>
</p>

  </div>
  </content>

  <link rel="alternate" type="text/html" href="" />
  <link rel="ostatus:conversation" href="" />


    <activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>


  <published>2018-05-10T17:26:30-06:00</published>
  <updated>2018-05-10T17:26:30-06:00</updated>





  <link rel="self" type="application/atom+xml" href="" />


</entry>

<entry>


<author>
 <activity:object-type>http://activitystrea.ms/schema/1.0/person</activity:object-type>
 <uri>
</uri>


</author>


    <activity:object-type>http://activitystrea.ms/schema/1.0/note</activity:object-type>



  <id>
</id>
  <title> </title>

  <content type="xhtml">
  <div xmlns="http://www.w3.org/1999/xhtml">




<a href="/e/2018/4/19/today-in-gradschool-bags-of-robot-digits">
        <img class="u-photo img-responsive center-block img-thumbnail img-rounded" src="/data/2018/4/19/today-in-gradschool-bags-of-robot-digits.jpg" style="image-orientation: from-image; max-height:500px"/>
        </a>


        <p class="row e-content">
</p>
<p>Today in  <a href="/t/gradschool"> #gradschool </a> : bags of robot digits.
.
.
 <a href="/t/robot"> #robot </a>   <a href="/t/tech"> #tech </a>   <a href="/t/phdlife"> #phdlife </a>   <a href="/t/cs"> #cs </a> </p>
<p>
</p>

        <div class="entry-footer clearfix">                         <!-- Footer -->
            <div class="categories">                                <!-- Catagories -->

                    <i class="fa fa-tags">
</i>

                    <a class="category" href="/t/gradschool">gradschool</a>

                    <a class="category" href="/t/image">image</a>


            </div>
        </div>
<p>
</p>

  </div>
  </content>

  <link rel="alternate" type="text/html" href="" />
  <link rel="ostatus:conversation" href="" />


    <activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>


  <published>2018-04-19T16:07:41-06:00</published>
  <updated>2018-04-19T16:07:41-06:00</updated>





  <link rel="self" type="application/atom+xml" href="" />


</entry>

<entry>


<author>
 <activity:object-type>http://activitystrea.ms/schema/1.0/person</activity:object-type>
 <uri>
</uri>


</author>


    <activity:object-type>http://activitystrea.ms/schema/1.0/person</activity:object-type>



  <id>https://kongaloosh.com/</id>
  <title>Alex Kearney</title>

  <content type="xhtml">
  <div xmlns="http://www.w3.org/1999/xhtml">






<blockquote>
<img class="u-photo" src="https://kongaloosh.com/static/img/profile.jpg" alt="" />
</blockquote>

  </div>
  </content>

  <link rel="alternate" type="text/html" href="https://kongaloosh.com/" />
  <link rel="ostatus:conversation" href="https://kongaloosh.com/" />


    <activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>


  <published>
</published>
  <updated>
</updated>





  <link rel="self" type="application/atom+xml" href="https://kongaloosh.com/" />


</entry>

</feed>